*.ilc
*.ild
*.ilf
*.ils
*.map
*.pdi
*.tds
Component
!Component/Readme.md
Compil
!Compil/Readme.md
Obj
!Obj/Readme.md
Proj/__history
Proj/__recovery
Src/__history
Config - playlist ancien format/
Inno Setup/
Redist
!Redist/Readme.md
